* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header, .grid, footer {
    max-width: 840px;
    min-height: 0px;
    margin: 0 auto;
    }
    header nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    }
    header nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    }
    /* Class Selectors */
    .grid{
    display: grid;
    align-items: center;
    }
    .grid main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
    }
    .grid main h1 {
    color:steelblue;
    padding: 7px;
    border-bottom: 1px solid steelblue;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    }
    .grid main img {
    width: 150px;
    height: auto;
    float: right;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    }
    .grid aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    }
    .grid aside img {
    width: 290px;
    height: auto;
    }
    .grid .box{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    }
    .grid aside h2 {
    font-size: 1.3rem;
    position: absolute;
    color: white;
    }
    p {
    padding: 10px;
    
    }
    footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    }